<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Country</title>
</head>
<body>
<h3>Update Country</h3>
<form th:action="@{/country/edit/{id}(id=${country.code})}" th:object="${country}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="population">Population:</label>
        <input type="number" id="population" th:field="*{population}" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>