<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div class="shadow bg-white font-lato fixed top-0 w-full mb-6 z-100">
    <div class="h-16 mx-auto px-5 w-full flex items-center justify-between">
        <img width="50" height="50" src="https://img.icons8.com/ios/50/globe-asia.png" alt="globe-asia"/>

        <ul class="flex items-end justify-around gap-8">
            <li><a class="hover:text-green-600" href="countries">Countries</a></li>
            <li><a class="hover:text-green-600" href="cities">Cities</a></li>
            <li><a class="hover:text-green-600" href="languages">Languages</a></li>
        </ul>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="bg-green-600 text-white font-bold py-2 px-4 rounded hover:bg-black ">
            Log out
        </a>
        <a th:href="@{/login}" sec:authorize="not isAuthenticated()" class="bg-green-600 text-white font-bold py-2 px-4 rounded hover:bg-black ">
            Log in
        </a>
    </div>
</div>
</body>
</html>