<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Languages</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!--<nav style="position: fixed; top: 0; width: 100%; z-index: 1000;">-->
<!--    <div th:replace="fragments/nav"></div>-->
<!--</nav>-->
<div>
    <form class="border rounded overflow-hidden flex  ml-4 my-4" method="get" th:action="@{/languages}">
        <input class="px-4 py-2" name="languageName" th:size="40" placeholder="Search by language..." th:value="${languageName}" type="text">
        <button class="flex items-center justify-center px-4 border-l" type="submit">
            <svg class="h-4 w-4 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
        </button>
    </form>
    <a th:href="@{/language/add}"><i class="fa-solid text-green-600  fa-square-plus fa-2x mt-5 mr-4 pointer-cursor hover:text-black"></i></a>
</div>
<table>
    <thead>
    <tr>
        <th>Country Code</th>
        <th>Language</th>
        <th>Is Official?</th>
        <th>Percentage</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody th:each="language : ${languages}">
    <tr>
        <td th:text="${language.id.countryCode}"></td>
        <td th:text="${language.id.language}"></td>
        <td th:text="${language.isOfficial}"></td>
        <td th:text="${language.percentage} + '%'"></td>
        <td><a th:href="@{/language/delete/{countryCode}/{language}(countryCode=${language.id.countryCode}, language=${language.id.language})}">Delete</a></td>
        <td><a th:href="@{/language/edit/{countryCode}/{language}(countryCode=${language.id.countryCode}, language=${language.id.language})}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>